* {
    box-sizing: border-box;
  }

  #main-div{
    width: 500px;
    height: 500px;
  }

  #main-div>div {
    height: 50px;
  }


.box {
    display: inline-block;
    border: 1px solid black;
    width: 50px;
    height: 50px;
    transition: 0.7s;
    transition-timing-function: ease;
}

.box:hover {
    background-color: black;
}