* {
    box-sizing: border-box;
  }

  #main-div{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    box-sizing: border-box;
  }

  #grid-div{
    display: flex;
    border: 1px black solid;
    position: relative;
    width: 700px;
    height: 700px;
    border-radius: 3px;
  }

.box {
    border: 1px solid rgba(223, 190, 190, 0.383)
}

.row {
  background-color: rgba(247, 241, 244, 0.949);
}

.boxTwo {
    background-color: black;
}

#button {
  appearance: button;
  background-color: #000;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  height: 50px;

}

#button:focus {
  text-decoration: none;
}

#button:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

@media (min-width: 768px) {
  #button {
    padding: 12px 50px;
  }
}